<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-ns pv0-l">
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l" id="get-help">
        <h4>Get help!</h4>
        <ul>
          <li><a href="http://perldoc.pl">Documentation</a></li>
          <li><a href="https://perlmaven.com">Perl Maven</a></li>
	  <!--<li><a href="https://users.perl.org">Ask a Question on the Users Forum</a></li>-->
	  <!--<li><a href="http://ping.perl.org">Check Website Status</a></li>-->
        </ul>
      </div>
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l">
        <h4>Contribute</h4>
        <ul>
          <li><a href="https://github.com/thibaultduponchelle/perldot/">Website</a></li>
        </ul>
      </div>
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l">
        <h4>Social</h4>
        <div class="flex flex-row flex-wrap">
          <!--<a href="https://twitter.com/foobarbar"><img src="/assets/img/twitter.svg" alt="twitter logo" title="Twitter"/></a>-->
	  <!--<a href="https://www.youtube.com/channel/"><img class="pv2" src="/assets/img/youtube.svg" alt="youtube logo" title="YouTube"/></a>-->
          <a href="https://discord.gg/Mnbj6th"><img src="/assets/img/discord.svg" alt="discord logo" title="Discord"/></a>
          <a href="https://github.com/Perl"><img src="/assets/img/github.svg" alt="github logo" title="GitHub"/></a>
        </div>
      </div>

    </div>
    <div class="attribution">
      <p>
      (Un-)Maintained by Tib. See a bug? <a href="https://github.com/thibaultduponchelle/perldot/issues/new/choose">File an issue!</a>
      </p>
    </div>
  </div>
</footer>

