<head>
  <meta charset="utf-8" />
  <!-- title -->
  <title>
    {% if page.title %}
    {{ page.title | escape }}
    {% else %}
    {{ site.title | escape }}
    {% endif %}
  </title>

  <script type="application/ld+json">{"@type":"WebSite","url":"http://localhost:4000/","headline":"Perldot","name":"Perldot","description":"Perl Powering millions of businesses and the Web for decades... Perl just works! :camel: Start hacking! Version 5.32.0","@context":"https://schema.org"}</script>

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">

  <!-- Viewport and description -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="A multi-purpose and reliable language."> 
  <meta name="referrer" content="no-referrer" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <!--<meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">-->
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="A multi-purpose and reliable language.">
  <meta name="twitter:image" content="/assets/images/raptor.png">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="" />
  <meta property="og:description" content="A multi-purpose and reliable language.">
  <meta property="og:image" content="/assets/images/raptor.png" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />

  <!-- styles -->
  <link rel="stylesheet" href="/assets/css/solarized-dark.css"/>
  <link rel="stylesheet" href="/assets/css/vendor.css"/>
  <link rel="stylesheet" href="/assets/css/fonts.css"/>
  <link rel="stylesheet" href="/assets/css/app.css"/>

  <!-- Favicon for Windows 8-->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="/assets/img/browserconfig.xml?v=ngJW8jGAmR">
  <meta name="theme-color" content="#ffffff">

  <!-- Highlight --> 
  <script src="/assets/js/highlight.pack.js" defer></script>
  <script src="/assets/js/init.js" defer></script>
</head>
