<section class="{{ include.color }}">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    {% if include.title %}
    <header class="cornered">
      <h2>
	{{ include.title }}
      </h2>
    </header>
    {% endif %}
    {% if include.description %}
    <div class="description">
      {{ include.description | markdownify}}
    </div>
    {% endif %}

    <div class="flex-none flex-l flex-row-l">
      <section class="w-100 pv2 pv0-l mt4 justify-between-l">
	{% if include.left-title %}
	<h3 class="f2 f1-l">{{ include.left-title }}</h3>
	{% endif %}
        {% if include.left-image %}
	<div class="v-top tc-l self-center justify-center">
	  <img src="/assets/img/{{ include.left-image }}" class="mw4 mw5-ns"/>
        </div>
	{% endif %}
        <p class="f3 lh-copy">
	  {{ include.left-content | markdownify }}
        </p>
      </section>
      <section class="w-100 pv2 pv0-l mt4 justify-between-l">
        {% if include.middle-title %}
	<h3 class="f2 f1-l">{{ include.middle-title }}</h3>
	{% endif %}
        {% if include.middle-image %}
	<div class="v-top tc-l">
	  <img src="/assets/img/{{ include.middle-image }}" class="mw4 mw5-ns"/>
        </div>
	{% endif %}
        <p class="f3 lh-copy">
	  {{ include.middle-content | markdownify }}
        </p>

      </section>
      <section class="w-100 pv2 pv0-l mt4 justify-between-l">
        {% if include.right-title %}
	<h3 class="f2 f1-l">{{ include.right-title }}</h3>
	{% endif %}
	{% if include.right-image %}
	<div class="v-top tc-l">
	  <img src="/assets/img/{{ include.right-image }}" class="mw4 mw5-ns"/>
        </div>
	{% endif %}
        <p class="f3 lh-copy">
	  {{ include.right-content | markdownify }}
        </p>
      </section>
    </div>
  </div>
</section>
